NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCBKA3D6FrNa1lEVRrQVzoW-88R7g_Ti2Q
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bugtrackingsystem-ab253.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bugtrackingsystem-ab253
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bugtrackingsystem-ab253.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=890282525964
NEXT_PUBLIC_FIREBASE_APP_ID=1:890282525964:web:2a5182b983ff2a33c87529
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-GN74EJZH00
